* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin: 0;
}
.billSheet{
    width: 100%;
    margin-bottom: 35px;
}
.billSheet table {
    width: 85%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    text-decoration: none;
    color: #1f2937;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: 0.2s;
}

.AI{
    display: flex;
    width: 85%;
}


.AIForm{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}



.AIResponse{
    flex: 1;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    white-space: pre-line;
    text-align: left;
}


h1 {
    font-size: 36px;
    margin-bottom: 12px;
}
